input, textarea {
    font-family: 'Englebert', sans-serif;
    color: #eb9321;
    padding: 10px;
    border: 1px solid #53cbd5;
    background-color: transparent;
    transition: 0.5s all ease-in-out;
    font-size: 1rem;
    margin-bottom: 15px;

    &:focus {
        outline: none;
        border-bottom: 2px solid #53cbd5;
        border-right: 2px solid #53cbd5;
    }

    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);
    }
}

textarea {
    height: 250px;
    width: 640px;
}

input {
    width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}


.info {
    display: flex;
    align-items: center;

    .text {
        margin-right: 10px;
    }
}

.text-area {
    display: flex;
    justify-content: center;
}

.submit-button button {
    font-family: 'Englebert', sans-serif;
    width: 150px;
    background-color: #53cbd5;
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 3px;

    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}