@import "./home.scss";
@import "./services.scss";
@import "./contact.scss";
@import "./no-page-found.scss";
@import "./amenities.scss";
@import "./carousel.scss";
@import "./contact-form.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./media-queries.scss";

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Englebert', sans-serif;
    width: 100%;
}